/* styling for start screen */
img{
    height: 100%;
    width:100%;
}
a{
    font-family: 'Press Start 2P', cursive;
    text-decoration:none;
    font-size:80px;
    color:white;
}
h1{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top:200px; 
    left: 500px;
    opacity: 0.9;

}
#loser{
    animation: jump 0.7s ease-in infinite;

}
/* animate the loser h1 */
@keyframes jump{
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateX(0px);
    }
}

audio{
    display: flex;
    float: right;
}

/* styling for actual game screen */
.gameAudio{
    position: relative;top: -60px;
}
.timer{
    height: 7%;
    width: 100%;
    background: lightgray;
    position: absolute;top:20px;
}
#time {
    height: 100%;
    width: 0%;
    background: linear-gradient(to left, green,red);
    position: relative;
}
.startBtn, .restartBtn{
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    opacity: 0.7;
    position:relative; top: -40px; left: 400px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(6,8rem);
    grid-template-rows: repeat(3,8rem);
    grid-gap:2rem;
    position: relative;top: -850px;left: 400px;
    /* sets its position relative to the parent which would be the div game but since the div game doesnt have a  postion it goes to its parent which is the body */
    perspective: 800px;
    /* perspective adds depth to our element. its the distance from the user to the z-0 plane
    should be on parent or else it won't work  */
}
.card{
    transform-style:preserve-3d ;
    transition: transform 2s ease;
    transform: rotateY(0deg);
    /* placed in actual element we want affected  */
}
.pokemon{
    height: 100px;
    width: 100px;
    /* background-color: red; */
    
}
.poke-ball{
    /* background-color: black; */
    position: relative;top:-200px; left: -85px;
    height: 150px;
    width: 270px;
    backface-visibility: hidden;  
   /* all html elements have a backface (mirror of the element) , by setting it to hidden it hides the backface of the 
   element and allows us to see the pokemon behind the pokeballs!*/
}
.instructions{
    background-color: black;
    border: white 10px solid;
    position: absolute;
    top:800px;
    left: 300px;
}
p{
    text-align: center;
    color: white;
    font-family: 'Press Start 2P', cursive;
    padding:30px;
    font-size: 30px;
}
.card ,.startBtn, .restartBtn, :hover{
    cursor: pointer;
}

.flip{ 
    /* will be accessed through my js file to flip cards and show pokemon */
    transform: rotateY(180deg);
}